h1 {
  color: black;
  font-size: 80px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: burlywood;
  color: white;
  text-align: center;
  padding: 10px;
}